body {
    margin: 0;
}

.header {
    height: 117px;
    background-color:#F4EFFA;
}

.header > div {
    width: 85%;
    margin: 0 auto;
}

.main {
    width: 85%;
    margin: 0 auto 82px auto;
}

.h1 {
    font-weight: 700px;
    font-size: 30px;
    margin-top: 71px;
}

hr {
    border: 1.5px solid lightgrey;
    background-color: lightgrey;
    margin-top: 18px;
    margin-bottom: 40px;
}

span {
    font-size: 16px;
    font-weight: 700;
    display: inline-flex;
    gap: 50px;
    margin-left: 90px;
    position: relative;
    top: -23px;
}

a {
    cursor: pointer;
    text-decoration: none;
}

.header > div > img {
    margin-top: 11px;
}

.right {
    position: relative;
    display: inline-flex;
    gap: 37px;
    float: right;
}

.right > a > img {
    position: relative;
    top: 29px;
}

.niz {
    display: flex;
    gap: 10px;
    position: relative;
    top: 10px;
}

.niz > div > a {
    color: #626262;
    font-size: 14px;
}

.section1 {
    display: flex;
    gap: 25px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.section1 > div > img {
    /* width: 388px; */
    transition: transform 1.5s;
}

.section1 > div > img:hover {
    transform: scaleX(-1);
}

.section1 > div > :nth-child(3) {
    /* flex-basis: 388px; */
    width: 388px;
}

.stranica1 {
    text-decoration: underline;
}

.section1 > div > :nth-child(2) {
    font-weight: 700;
    font-size: 24px;
    color: #354657;
    margin-top: 17px;
    margin-bottom: 15px;
}

.section1 > div > :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    color: #354657;
}

.section1 > div > :nth-child(4) {
    font-weight: 700;
    font-size: 16px;
    color: #946FD3;
    border: 2px solid #946FD3;
    border-radius: 50px;
    width: 206px;
    text-align: center;
    padding: 18px 0;
    margin-top: 30px;
    margin-bottom: 70px;
}

/* .section1 > div > :nth-child(2), .section1 > div > :nth-child(3) {
    color: #354657;
}  */

.section1 > div > div:hover {
    cursor: pointer;
    color: white;
    background-color: #946FD3;
    border-color: white;
    /* border: 1px; */
}

/* .section1 > div:hover {
    background-color: #946FD3;
} */


.section2 {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;

}

.section2 > :nth-child(1) {
    flex-grow: 1;
    background-color: #F0F2F5;
    position: relative;
}

.section2 > :nth-child(2) {
    flex-grow: 11;
}

.section2 > div {
    height: 441px;
}

.section2 > :nth-child(1) > :nth-child(1), .section2 > :nth-child(1) > :nth-child(2) {
    float: left;
}

.section2 > :nth-child(1) > :nth-child(1) {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 48px;
    margin-left: 23px;
    gap: 42px;
} 

.section2 > :nth-child(1) > :nth-child(1) > div {
    border: 2px solid #D6D9DE;
    border-radius: 50%;
    display: inline;
    width: 61px;
    height: 61px;
}

.section2 > :nth-child(1) > :nth-child(1) > :nth-child(1) > img {
    margin-top: 18px;
    margin-left: 18px;
}

.section2 > :nth-child(1) > :nth-child(1) > :nth-child(2) > img {
    margin-top: 18px;
    margin-left: 18px;
}

.section2 > :nth-child(1) > :nth-child(1) > :nth-child(3) > img {
    margin-top: 18px;
    margin-left: 18px;
}


.contacts > div > :nth-child(1) {
    color: #354657;
    font-weight: 700;
    font-size: 20px;
    margin-bottom: 7px;
}

.times {
    font-weight: 400;
    font-size: 16px;
    color: #354657;
}

.fiolet {
    font-weight: 600;
    font-size: 16px;
    color: #946FD3;
}

.contacts {
    margin-left: 17px;
    margin-top: 45px;
}

.contacts > :nth-child(2) {
    margin-top: 35px;
    margin-bottom: 42px;
}

.section2 > :nth-child(1) > :nth-child(3) {
    font-weight: 700;
    font-size: 16px;
    color: white;
    border: 2px solid #946FD3;
    border-radius: 50px;
    background-color: #946FD3;
    width: 338px;
    text-align: center;
    padding: 18px 0;
    margin: 0 23px;
    position: absolute;
    bottom: 25px;
}

.footer {
    width: 85%;
    margin: 0 auto ;
}

.footer > div {
    display: flex;
    justify-content: space-between;
    position: relative;
    top: -5px;
}

.fzn {
    font-weight: 700;
    font-size: 16px;
    color: #354657;
}

.footer > div > :nth-child(1) {
    top: -20px;
    position: relative;
    margin-right: -292px;
}

.footer > div > :nth-child(2) {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.footer > div > :nth-child(3) {
    display: flex;
    justify-content: space-between;
    gap: 17px;
}


